<header class="site-header">
  <div class="wrap nav">
    <a class="brand" href="{{ site.baseurl }}/">Julien Fenoglio Artwork</a>
    <nav class="menu" aria-label="Primary">
      <a href="{{ site.baseurl }}/work/">Work</a>
      <a href="{{ site.baseurl }}/illustration/">Illustration</a>
      <a href="{{ site.baseurl }}/concept/">Concept art</a>
      <a href="{{ site.baseurl }}/sketchbook/">Sketchbook</a>
      <a href="{{ site.baseurl }}/news/">News</a>
      <a href="{{ site.baseurl }}/shop/"><strong>Shop</strong></a>
    </nav>
  </div>
</header>
